{% extends 'base.html' %}

{% block content %}
<!--About SODA Apply-->
<div class="container">
    <h1>Welcome to SODA apply</h1>
    
    <div class="row align-items-center">
       <div class="col">
          <h2 class="align-items-center"><strong>About US</strong></h2>
          <p>SODA Apply is the world’s largest professional accessibility platform. Professionals can build their user profile and easily apply for jobs with a click of the button. At SODA Apply, your profile, is your resume. This makes the recruitment process easier for everyone one.</p>
          <h3><strong>Mission</strong></h3>
          <p>To ensure that the digital world a more inclusive place for everyone</p>
       </div>       
    </div>
  
</div>
<hr>

 <!-- Jobs Section-->
 
 <div class="container">
    <h2>Featured Jobs</h2>
   <div class="row">
      {% for job in jobs %}        
      
         <div class="col-lg-4">
            <div class="card border-secondary">
         <div class="card-header">{{ job.role }}</div>
         <div class="card-body text-secondary">
           <h3 class="card-title"> <strong>{{ job.employer }}</strong></h3>
           <h3 class="card-title"> <strong>Salary: £<span class="px-4">{{job.salary[0]}} per year</span></strong></h3>
           <div class="job-details">
            {% for item in job.employment %}
            <li>{{ item }}</li>
               {% endfor %}
           </div>
           
         </div>
      
       <!-- CTA Button -->
       <div class="cta">
         <a href="{{ url_for('job_details', job_id=job._id) }}" 
             class="text-center rounded-pill btn btn-lg btn-outline-dark">SODApply</a>
     </div>
      </div>
   </div>
      {% endfor %}
   
 </div>
 </div>
<hr>

 <!-- Partners section-->
 <div class="container partners">
    <h2>Our Partners</h2>
    <div class="row">
       {% for partner in partners %} 
       {% if loop.index <=3 %}
       <div class="col-lg-4" data-bs-interval="10000">
          <div class="col">
             <div class="col-sm">
                <div class="card mb-3" style="max-width: 440px;">
                   <div class="row g-0">
                      <div class="col-md-4">
                         <img src="{{partner.image_url}}" class="img-fluid rounded-start" alt="comapny logo">
                      </div>
                      <div class="col-md-8">
                         <div class="card-body">
                            <h3 class="card-title"><strong>{{partner.company_name}}</strong></h3>
                            <p class="card-text">{{partner.description}}</p>
                            <h3 class="card-title"><strong>Testimonials:</strong></h3>
                            <p class="card-text">{{partner.testimonials}}</p>
                            <p class="card-text"><small class="text-muted">Rating: {{partner.rating}}</small></p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       {% endif %}
       {% endfor %}
    </div>
 </div>

{% endblock %}

