{% extends 'base.html' %}

{% block content %}
<div class="job_details">
    <h1 class="text-center">{{ job.role }}</h1>

    <!-- Employer details -->
    <div class="employer-details text-center">
        <p class="fs-3 employer">
            {{ job.employer }} <br>
            {{ job.location }} 
        </p>
        <button class="btn rounded-pill btn-lg btn-outline-dark" data-bs-toggle="modal" data-bs-target="#job_apply">
            Apply With Soda
        </button>
    </div>

    <!-- Job description -->
    <div class="job-details-section">

        {% if job.employment_details.details != "" %}
            <p class="job-details">
                {{ job.employment_details.details }}
            </p>
        {% endif %}

        {% if job.employment_details.responsibilities != "" %}
            <p class="responsibilities">
                <span class="fs-2">Responsibilities:</span>
                {{ job.employment_details.responsibilities }}
            </p>
        {% endif %}

        {% if job.employment_details.skills != "" %}
            <p class="skills">
                <span class="fs-2">Key skills/Knowledge:</span>
                {{ job.employment_details.skills }}
            </p>
        {% endif %}

        {% if job.employment_details.perks != "" %}
            <p class="perks">
                <span class="fs-2">Perks:</span>
                {{ job.employment_details.perks }}
            </p>
        {% endif %}

        {% if job.employment_details.benefits != "" %}
            <p class="benefits">
                <span class="fs-2">Benefits in Dublin Office:</span>
                {{ job.employment_details.benefits }}
            </p>
        {% endif %}

        <!-- Footer description -->
        <h3 class="job-type">Job Type: <span class="ps-3">{{ job.salary.type }}</span></h3>
        <h3 class="job-salary">Salary: <span class="ps-3">{{ job.salary.salary_amount }}</span></h3>
        <h3 class="schedule">Schedule: <span class="ps-3">{{ job.schedule }}</span></h3>
    </div>
</div>

    <!-- Modal -->
    {% include 'components/_modal.html' %}

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}