{% extends 'base.html' %}

{% block content %}

<form>
    <div class="mb-3">
        <label for="full_name" class="form-label">Full Name</label>
        <input type="test" class="form-control" id="full_name" aria-describedby="full_name">
        <div id="full_name" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" aria-describedby="password_entry">
    </div>
    <div class="mb-3">
        <label for="password_check" class="form-label">Repeat Password</label>
        <input type="password" class="form-control" id="password_check" aria-describedby="password_entry_check">
      </div>
    <div class="mb-3 form-check">
      <input type="terms_checkbox" class="terms_checkbox" id="terms_checkbox">
      <label class="terms_checkbox" for="terms_checkbox">I agree to submit my data to Soda-Apply.  My data will not be shared and will be stored securely.</label>
    </div>
    <button type="submit" class="btn btn-primary" aria-describedby="submit_button" >Create Account</button>
  </form>

  <p>Already a member?</p>
  <a href="#">Login</a>

{% endblock %}