{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('user_create_profile') }}">
  <!--About Section-->

  <h2>About Me </h2>
    <div class="input-group">
        <span class="input-group-text">About Me</span>
        <textarea class="form-control" id="about_me" aria-label="About Me"></textarea>
      </div>
  
  <!--Employment Section-->

    <h2>Employment Experience </h2>
    <div class="mb-3">
      <label for="company_name" class="form-label">Company Name</label>
      <input type="text" class="form-control" id="company_name" aria-describedby="company_name">
    </div>
    <div class="mb-3">
        <label for="role_title" class="form-label">Role Title</label>
        <input type="text" class="form-control" id="role_title" aria-describedby="role_title">
    </div>
    <div class="mb-3">
      <label for="months_employed" class="form-label">Months Employed</label>
      <input type="int" class="form-control" id="months_employed" aria-describedby="months_employed">
    </div>

    <!--Hiring Section-->

    <h2>Hiring Preferences</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="test_preferences_checkbox">
      <label class="test_preferences_checkbox" for="est_preferences_checkbox">
        Test preferences checkbox
      </label>
    </div>
    <div class="input-group">
        <span class="input-group-text">Other Hiring Preferences Info</span>
        <textarea class="form-control" id="other_acc_hiring_prefs" aria-label="Other Hiring Preferences Info"></textarea>
    </div>

    <!--Skills Section-->
    
    <h2>Skills & Competencies</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="test_skill_checkbox">
      <label class="test_skill_checkbox" for="test_skill_checkbox">
        Test skill checkbox
      </label>
    </div>
    <div class="input-group">
        <span class="input-group-text">Other Skills Info</span>
        <textarea class="form-control" id="other_skills_competencies" aria-label="Other Skills Info"></textarea>
    </div>

    <!--Education Section-->

    <h2>Education</h2>
    <div class="mb-3">
      <label for="institute_name" class="form-label">Institute Name</label>
      <input type="text" class="form-control" id="institute_name" aria-describedby="Institute Name">
    </div>
    <div class="mb-3">
        <label for="course_title" class="form-label">Course Title</label>
        <input type="text" class="form-control" id="course_title" aria-describedby="course_title">
    </div>
    <div class="mb-3">
      <label for="diploma_result" class="form-label">Diploma Result</label>
      <input type="text" class="form-control" id="diploma_result" aria-describedby="Diploma Result">
    </div>

  <!--Applied Jobs Section-->

  <div>
    <!--TBC-->
  </div>

   
  </form>


{% endblock %}