/* Root variables & imports */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto&display=swap');

:root {
    /* 1rem = 10px.
    This allows for greater control of calculting font sizes */
    font-size: 62.5%;

    /* Typography */
    --header-text: 'Arvo', Tahoma;
    --content-text: 'Roboto', sans-serif;

    /* Colors */
    --dk-color: #1e1e1e;
    --p1-color: #FFEBEA;
    --s1-color: #f0452b;
    --t1-color: #B57270;
}

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: var(--content-text);
}

    /* Navbar */
.bg-custom {
    background-color: var(--p1-color);
}

.navbar-brand img {
    width: 50%;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--s1-color);
}

.navbar .navbar-nav .nav-link.active:after {
    content: '';
    display: block;
    width: 4rem;
    height: 2px;
    margin: 0 auto;
    background-color: var(--dk-color);
    transform-origin: 0%;
    animation: line-grow 0.5s ease-in;
}

@keyframes line-grow {
    from {
        transform: scaleX(0);
        opacity: 0;
    }

    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

.navbar-toggler {
    font-size: 2.5rem;
    margin-right: 1.5rem;
}

h1 {
    font-family: var(--header-text);
}


 /* contact */
.content-header {
    text-align: center;
}