<div class="card text-dark hover-shadow-light border-rounded">

    <!-- Listing Headers -->
    <div class="card-header fs-1">{{ job.role }}</div>
    <div class="card-body">
        <p class="card-job-provider fs-3 pt-4">Employer: <span class="px-4">{{ job.employer }}</span></p>
        <p class="card-salary fs-3">Salary: £<span class="px-4">{{job.salary[0]}} per year</span></p>

        <!-- Employment Details -->
        <p>Employment Details: </p>
        <div class="card-job-details">
            <ul>
            {% for item in job.employment %}
                    <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>

        <!-- CTA Button -->
        <div class="cta">
            <a href="{{ url_for('job_details', job_id=job._id) }}" 
                class="text-center rounded-pill btn btn-lg btn-outline-dark">SODApply</a>
        </div>

    </div>
</div>