<!-- Modal Structure -->
<div class="modal fade" id="job_apply" tabindex="-1" aria-labelledby="Job-Application-Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Application for <span class="text-red">{{ job.role }}</span> with 
                    <span class="text-red">{{ job.employer }}</span>
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if session.user|lower %} %}
                    Applicant: {{ user.full_name }} <br>
                    Email: {{ user.email }} <br>

                    <!-- Preferences -->
                    {% if user.accessible_hiring_preferences %}
                        Accessibility Preferences: 
                            <ul>
                            {% for preference in user.accessible_hiring_preferences %}
                                <li>{{ preference }}</li>
                            {% endfor %}
                            </ul>
                    {% endif %}

                     <!-- Other -->
                    {% if user.other_acc_hiring_preferences %}
                        Hiring Preferences: 
                            <ul>
                            {% for other in user.other_acc_hiring_preferences %}
                                <li>{{ other }}</li>
                            {% endfor %}
                            </ul>
                    {% endif %}       
                    
                {% else %}
                    Please log in
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg rounded-pill btn-outline-dark" data-bs-dismiss="modal">Back</button>
                <button type="submit" class="btn btn-lg rounded-pill btn-outline-success">SODApply</button>
            </div>
        </div>
    </div>
</div>